# Module directory
.terraform/

#  Local .terraform directories
**/.terraform/*

# .tfstate files / Compiled files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# SH scripts
destroy.sh
starter.sh

.DS_Store
.idea